.header {
    padding: 0.4rem 0;
    border-bottom: 1px solid rgba(147, 125, 194, 255);
    z-index: 1;
}
.bookImgHeader {
    height: 13px;
    width: 13px;
}

.linksA {
    text-decoration: none;
}

.linksA:link {
    color: rgb(158, 158, 158);
}

.linksA:visited {
    color: rgb(156, 157, 156);
}


.verticalLine {
    background-color: rgba(147, 125, 194, 255);
  height: 2.2rem;
 
}

.verticalLineForIconsHeader {
    background-color: rgba(147, 125, 194, 255);
    height: 1.5rem;
 
}

.searchBar {
    background-color: #F1F1F1;
    border: none;
    width: 376.522px;
  }

  .secondHeader {
    border-bottom: 1px solid rgba(147, 125, 194, 255);
    
    padding: 0.4rem 0;
  }
  

.buttonRequest {
    padding: 12.017px 32.044px;
    text-transform: none;
  }



.spanNumber {
    background: #bc41f8;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    top: -18px;
        left: 85%;
    padding: 0px 3px;
    font-size: 11px;
}

.linksSecondLine {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.linksSecondLine:link {
    color: rgb(0, 0, 0);
}

.linksSecondLine:visited {
    color: rgb(0, 0, 0);
}